@import url("./something.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --headings-color: #4f7ac1;
  --secondary-color: #1c3fa8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

.navbar {
  background-color: #f3f6f7;
  color: #a1bbe6;
  height: 100px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 10px;
  margin: 0 5px;
  color: var(--headings-color);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 60px;
}

/* Main */

/* Digitalents start */

.mainpage {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: auto;
  -webkit-box-flex: 1;
  width: 100%;
  box-sizing: border-box;
}

.digitalentsection {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}

.digitalentclass {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: auto;
}

.digiclass {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: none;
  width: 100%;
  z-index: 0;
  position: static;
  background: none;
  flex: 0 1 100%;
  margin: 10px 0px;
  padding: auto;
}

.digihead {
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.digipara {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: 550px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  font-weight: 300;
}

.digidiv {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: none;
  max-width: none;
  width: 100%;
  z-index: 0;
  position: static;
  background: none;
  flex: 0 1 100%;
  margin: 20px 0px 0px;
  padding: 0px;
}

/* Digitalents end */

/* Track start */

track.style {
  margin-bottom: 50px;
  padding-top: 20px;
}

.tracksection {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: rgb(248, 249, 252);
  z-index: 1;
  flex: 0 0 auto;
}

.trackdiv {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0px;
  margin: 0px auto;
  flex-wrap: wrap;
}

.twotracks {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(74, 80, 187);
  text-align: center;
  max-width: none;
}

.trackbox {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tracktext {
  width: 45%;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 53px;
  padding: 40px 50px;
  margin-bottom: 50px;
}

.tracktext:first-child {
  margin-bottom: 50px;
}

.trackhead {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.trackpara {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  font-weight: 300;
}

/* Track end*/

/* Apply start */

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 40px;
}

.applysection {
  display: table-row;
  justify-content: space-around;
  grid-column: column;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  vertical-align: baseline;
  padding: 80px;
  margin: 20 0 30px;
  border: none;
}

.applyprogram {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: 470px;
  line-height: 160%;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  font-weight: 300;
}

.applysection h1 {
  color: rgb(28, 34, 148);
  font-weight: 800;
  font-size: 17px;
  font-family: "Work Sans", sans-serif;
}

.digibutton {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

.applysection img {
  width: 600px;
  justify-self: flex-end;
}

/* footer */

.footer {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
}

.footer-div {
  -moz-box-align: center;
  align-items: center;
  background: transparent none repeat scroll 0% 0%;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  -moz-box-flex: 0;
  height: auto;
  -moz-box-pack: start;
  justify-content: flex-start;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  width: 100%;
  z-index: 0;
  position: static;
}

.footer-div h3 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #4f7ac1;
  text-align: center;
  max-width: none;
}

.footer-div p {
  color: rgb(45, 48, 55);
  text-align: center;
  text-transform: uppercase;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  word-break: break-word;
  font-weight: 300;
}

.footer-div .icons {
  -moz-box-align: stretch;
  align-items: stretch;
  background: transparent none repeat scroll 0% 0%;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  -moz-box-flex: 0;
  height: auto;
  -moz-box-pack: center;
  justify-content: center;
  margin: 20px 0;
  max-height: none;
  max-width: none;
  padding: 0;
  width: 100%;
  z-index: 0;
  position: static;
}

.icons .icon-a {
  color: #4f7ac1;
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0 10px;
  font-weight: 300;
}

.icons .icon-a .icon-img {
  width: auto;
  height: 26px;
  object-fit: fill;
  border-radius: 0;
}

/* sponsors start */

.sponserSection {
  padding: 20px;
  margin: 40px 10px;
}

.sponserContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: space-between;
  align-items: baseline;
  color: var(--secondary-color);
  margin: 10px 0;
}

/* footer */
.footer-div a {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0;
  white-space: pre;
  word-break: break-word;
  font-weight: 300;
}

/* footer -end */
.sponserContainer div > a {
  font-size: 18px;
  color: var(--secondary-color);
  padding: 10px;
  align-items: baseline;
}

.arrowNext {
  width: 40px;
  height: 20px;
}

/* lint */

.navbar a:hover {
  border-bottom: 3px #0f22b1 solid;
}

/* lint end */

.sponserContainer div > a:hover {
  background: #b0bbcc93;
  border-radius: 5px;
}

.sponsorImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
}

.sponsorImages img {
  width: 150px;
  height: auto;
}

/* sponsor end */
