@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --headings-color: #4f7ac1;
  --secondary-color: #1c3fa8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
}

.main1 {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: 0px auto;
  width: 100%;
}
.section {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  z-index: 1;
}
.section_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280;
  padding: 10px 0;
  margin: 0 auto;
}
.headingfaq {
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: var(--headings-color);
  text-align: left;
  max-width: none;
}
.faqpara {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: 470px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0px;
  word-break: break-word;
  font-weight: 300;
}
.searchbox-section {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: flex-start;
  flex: 0 1 100%;
  width: 100%;
  margin: 0 0 20px;
}
.searchbox-part {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 400px;
  flex: 0 1 400px;
}
.searchbox-div {
  display: flex;
  align-items: center;
  border: 1px solid var(--secondary-color);
  border-radius: 3px;
  overflow: hidden;
  background-color: white;
  width: 100%;
  padding-left: 10px;
  color: var(--secondary-color);
}
.searchbox {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 12px 10px;
  color: rgb(74, 80, 187);
}
