@import url("./something.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --headings-color: #4f7ac1;
  --secondary-color: #1c3fa8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

.navbar {
  background-color: #f3f6f7;
  color: #a1bbe6;
  height: 100px;
}

ul .navbar {
  display: flex;
}

.navbar a {
  padding: 10px;
  margin: 0 5px;
  color: var(--headings-color);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar .flex {
  justify-content: space-between;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 60px;
}

/** Our core values  start */
.corevalues {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 50px 0;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0;
  margin: 0;
}

.card {
  display: flex;
  background-color: #e9f0f7;
  padding: 100px;
  flex-direction: column;
}

.coreheading {
  font-size: 25px;
  line-height: 140%;
  text-align: left;
  font-weight: 700;
  color: var(--headings-color);
  margin-bottom: 20px;
}

.cover {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}

.coreitems {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}

.coreitems > img {
  margin-bottom: 20px;
  min-height: 70px;
  object-fit: contain;
}

.coreitemheading {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: var(--headings-color);
  text-align: left;
  max-width: none;
}

.corepara {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0;
  word-break: break-word;
  font-weight: 300;
}

/* header */

.img-container {
  height: 400px;
  position: relative;
}

.bg-image {
  background-image: url("../public/home-header.jpeg");
  height: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.bg-text {
  background-color: rgba(164, 158, 158, 0.4);
  color: white;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 40px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* header end */

/* Our program section start */

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 30px;
  box-shadow: rgb(0 0 0 / 8%) 5px 5px 53px;
}

.programsection {
  display: row;
  justify-content: space-around;
  grid-column: column;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  vertical-align: baseline;
  padding: 80px;
  margin: 0 0 30px;
  border: none;
}

.ourprogram {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: 470px;
  line-height: 160%;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  font-weight: 300;
}

.programsection h1 {
  color: rgb(28, 34, 148);
  font-weight: bold;
  font-size: x-large;
}

b {
  color: rgb(74, 80, 187);
  font-weight: bold;
}

.programsection a {
  color: rgb(74, 80, 187);
  font-weight: bold;
}

.programsection span {
  color: rgb(74, 80, 187);
  font-weight: bold;
}

.programsection img {
  width: 600px;
  justify-self: flex-end;
}

/* Our program section end */

/* our impact section start */
.impactsection {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 0 0 20px;
}

.ourImpact,
.volunteer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ourImpact > h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "work sans", sans-serif;
  font-weight: 700;
  color: #1c2294;
  text-align: left;
}

.ourImpact > div {
  font-size: 16px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #95c420;
}

.statstics {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.statstics div {
  margin-left: 20px;
  background: #4a50bb;
  color: #fff;
  font: 16px "Space Mono", monospace;
  padding: 20px;
}

h1.statstics {
  font: 24px "Space Mono", monospace;
}

.ourImpact div {
  font: 16px "Space Mono", monospace;
}

/* our impact section end */

/* support us section start */

.suportContainer {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  padding: 50px 20px;
  margin: 0 0 50px 0;
  background: rgb(248, 249, 252);
  justify-content: baseline;
}

.suportPargh {
  width: 50%;
  padding-right: 50px;
  font-family: monospace;
}

.radio {
  width: fit-content;
  align-items: flex-start;
}

.radio,
ul {
  display: inline-flex;
  flex-direction: row;
  font: 16px "Work Sans", sans-serif;
}

.radiop {
  margin: 0 10px;
}

.suportForm,
.suportPargh h1 {
  color: var(--secondary-color);
  font-family: sans-serif;
}

.suportForm li {
  border: 1px solid var(--secondary-color);
  background: #fff;
  padding: 10px 20px;
}

.suportForm li:hover {
  background: var(--secondary-color);
  color: #fff;
}

.suportForm input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--secondary-color);
  outline: none;
  padding: 5px;
}

.donat {
  margin-top: 10px;
  border-radius: 5px;
  background: var(--secondary-color);
  color: #fff;
  padding: 15px 20px;
  cursor: pointer;
  z-index: 0;
}

/* support us section end */

/* contact and  map  start */

.contactContainer {
  display: flex;
  flex-direction: row;
  column-gap: 50px;
}

.form {
  display: flex;
  background: var(--secondary-color);
  color: #fff;
  font: 16px "space mono", monospace;
  padding: 50px 100px;
  justify-content: center;
  width: 40%;
}

.form > h1,
p,
button {
  margin: 20px 0 5px 0;
  align-items: stretch;
}

.form input,
textarea {
  background: transparent;
  border: 1px #fff solid;
  border-radius: 2px;
  padding: 10px 5px;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.form button {
  background: #fff;
  border: none;
  border-radius: 5px;
  color: #333;
  padding: 10px 15px;
  cursor: pointer;
}

.map {
  width: 60%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* contact and  map  end */

/* footer */

.footer {
  display: flex;
  -moz-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  z-index: 1;
  flex: 0 0 auto;
}

.footer-div {
  -moz-box-align: center;
  align-items: center;
  background: transparent none repeat scroll 0% 0%;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  -moz-box-flex: 0;
  height: auto;
  -moz-box-pack: start;
  justify-content: flex-start;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  width: 100%;
  z-index: 0;
  position: static;
}

.footer-div .h3 {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #4f7ac1;
  text-align: center;
  max-width: none;
}

.footer-div p {
  color: rgb(45, 48, 55);
  text-align: center;
  text-transform: uppercase;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  word-break: break-word;
  font-weight: 300;
}

.footer-div .icons {
  align-items: stretch;
  background: transparent none repeat scroll 0% 0%;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  -moz-box-flex: 0;
  height: auto;
  -moz-box-pack: center;
  justify-content: center;
  margin: 20px 0;
  max-height: none;
  max-width: none;
  padding: 0;
  width: 100%;
  z-index: 0;
  position: static;
}

.icons .icon-a {
  color: #4f7ac1;
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0 10px;
  font-weight: 300;
}

.icons .icon-a .icon-img {
  width: auto;
  height: 26px;
  object-fit: fill;
  border-radius: 0;
}

/** our core values section ends **/

/* sponsors start */

.sponserSection {
  padding: 20px;
  margin: 40px 10px;
}

.sponserContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: space-between;
  align-items: baseline;
  color: var(--secondary-color);
  margin: 10px 0;
}

/* sponsors end */

/* Digitalents page start here */

.main-page {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin: auto;
  -webkit-box-flex: 1;
  width: 100%;
  box-sizing: border-box;
}

.digitalent-section {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}

.digitalent-class {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.digi-class {
  -webkit-box-align: center;
  align-items: center;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: start;
  justify-content: flex-start;
  max-height: none;
  max-width: none;
  width: 100%;
  z-index: 0;
  position: static;
  background: none;
  flex: 0 1 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: auto;
}

.digi-head {
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.digi-para {
  color: rgb(45, 48, 55);
  text-align: center;
  max-width: 550px;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  font-weight: 300;
}

.digi-div {
  -webkit-box-align: stretch;
  align-items: stretch;
  box-shadow: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  -webkit-box-flex: 0;
  height: auto;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: none;
  max-width: none;
  width: 100%;
  z-index: 0;
  position: static;
  background: none;
  flex: 0 1 100%;
  margin-top: 20px;
}

.track-section {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  box-shadow: none;
  background: rgb(248, 249, 252);
  z-index: 1;
  flex: 0 0 auto;
  margin-bottom: 50px;
  padding-top: 20px;
}

.track-div {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  flex-wrap: wrap;
}

.two-tracks {
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(74, 80, 187);
  text-align: center;
  max-width: none;
}

.track-box {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

.track-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0 0 0 / 8%) 5px 5px 53px;
  padding: 40px 50px;
  margin-bottom: 50px;
}

.track-text:first-child {
  margin-bottom: 50px;
}

.track-head {
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
  max-width: none;
}

.track-para {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  font-weight: 300;
}

.apply-section {
  display: table-row;
  justify-content: space-around;
  grid-column: column;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  vertical-align: baseline;
  padding: 80px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
}

.apply-program {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: 470px;
  line-height: 160%;
  font-size: 18px;
  font-family: "Space Mono", monospace;
  font-weight: 300;
}

.apply-section h1 {
  color: rgb(28, 34, 148);
  font-weight: 800;
  font-size: 17px;
  font-family: "Work Sans", sans-serif;
}

.digi-button {
  display: inline-flex;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

.apply-section img {
  width: 600px;
  justify-self: flex-end;
}

/* Digitalents page end here */

/* footer */
.footer-div a {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: none;
  line-height: 160%;
  font-size: 16px;
  font-family: "Space Mono", monospace;
  margin: 0;
  white-space: pre;
  word-break: break-word;
  font-weight: 300;
}

/* footer -end */
.sponserContainer div > a {
  font-size: 18px;
  color: var(--secondary-color);
  padding: 10px;
  align-items: baseline;
}

.arrowNext {
  width: 40px;
  height: 20px;
}

/* lint */

.navbar a:hover {
  border-bottom: 3px #0f22b1 solid;
}

/* lint end */

.sponserContainer div > a:hover {
  background: #b0bbcc93;
  border-radius: 5px;
}

.sponsorImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 20px;
}

.sponsorImages img {
  width: 150px;
  height: auto;
}

/* sponsor end */

/* volunteer */

.volunteer {
  max-width: 550px;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", monospace;
}

.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  padding: 45px;
  background: rgb(248, 249, 252);
  height: fit-content;
}

.main-container h2,
b,
.cards h2,
h3 {
  color: #1c2294;
}

.sub-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.sub-container div {
  display: flex;
  flex-direction: row;
  margin: 20px;
  font: 16px "space mono", monospace;
}

.sub-container img {
  margin: 10px 40px 0 0;
}

.testimony-container {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
}

.cards-paragraph {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  margin: 50px 20px;
}

.cards {
  box-shadow: rgb(0 0 0 / 8%) 0 0 53px;
  padding: 30px;
  width: 60%;
  font: 16px "space mono", monospace;
}

.cards * {
  margin-bottom: 10px;
}

.cards-paragraph img {
  width: 600px;
}
